<div class="container">
<h1>Edit task</h1>

<%= form_for @task, :html => {:class => "form-group"} do |f| %>
  <div class="form-group">
    <%= f.label :title, "Task", class: "control-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :details, "Details", class: "control-label" %>
    <%= f.text_field :details, class: "form-control" %>
  </div>
  <div class="form-group">
  <p><%= f.check_box :completed %>This task is completed</p>
  <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
  <%= link_to "Return to index", tasks_path, :class => "btn btn-default btn-info"  %>
  <%= link_to "Delete", task_path, :class => "btn btn-default btn-danger",
        method: :delete,
        data: { confirm: "Are you sure?" } %>
<% end %>
</div>
